:host {
  font-size: 1rem;
}

.waste-bin-card {
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.waste-bin-card:hover {
  transform: scale(1.05);
}

.glass-container {
  width: 5rem;
  height: 15rem;
  border: 0.1rem solid #ccc;
  position: relative;
  margin-bottom: 1rem;
}

.fill {
  background-color: #4caf50;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.2s;
}

.path-map {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.path-location {
  background-color: #fff;
  border: 0.1rem solid #ccc;
  padding: 1rem 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .path-location {
    font-size: 0.8rem;
  }
}

.path-location:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid #ccc;
}

.path-location:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.4rem;
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 0.6rem solid #fff;
}

.path-start:before,
.path-end:after {
  display: none;
}

.path-start {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.path-end {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.path-location span {
  margin-right: 0.5rem;
}

.path-location i {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}