<div class="container mt-5">
    <div *ngIf="!registerMode" class="text-center">
        <h1>Smart-Town</h1>
        <p class="lead">A Smarter Way for your Town! </p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn More</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
