.container-fluid {
    padding: 0 1rem;
    /* Reduced padding for better mobile display */
}

h1 {
    font-size: 2rem;
    /* Reduced font size for better mobile display */
    margin-bottom: 1rem;
}

/* Added media queries for responsive design */
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.carousel-indicators [data-bs-slide-to] {
    background-color: transparent;
    border: none;
    width: 10px;
    height: 10px;
}

.carousel-indicators [data-bs-slide-to].active {
    background-color: #007bff;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        height: 500px;
    }
}

.carousel-indicators [data-bs-slide-to] {
    background-color: #fff;
    border: none;
    width: 10px;
    height: 10px;
}

.carousel-indicators [data-bs-slide-to].active {
    background-color: #007bff;
}