<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fs-4" routerLink="/" routerLinkActive="active">Smart-Town</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Conditional rendering of nav items based on user login status -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="(accountService.currentUser$ | async)">
          <li class="nav-item"><a class="nav-link" routerLink="/members" routerLinkActive="active">Community</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/lighting" routerLinkActive="active">Lighting</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/traffic" routerLinkActive="active">Traffic</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/trash" routerLinkActive="active">Trash</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/pay" routerLinkActive="active">Payments</a></li>
        </ng-container>
      </ul>

      <!-- Dropdown menu for logged in users -->
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
          Welcome {{user.username | titlecase}}
        </a>
        <div class="dropdown-menu show" *dropdownMenu>
          <a class="dropdown-item" routerLink="/profile">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <!-- Login form for guests -->
      <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex ms-auto" (ngSubmit)="login()" autocomplete="off">
        <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2" 
          type="text" 
          placeholder="Username" 
          required>
        <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" 
          type="password" 
          placeholder="Password" 
          required>
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
