.container {
  padding-top: 50px;
}

.card {
  background-color: #f8f9fa;
}

.card-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.card-body {
  padding: 2rem;
}

.spinner-border {
  margin: 1rem auto;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bi {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .card-header {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .card-header {
    font-size: 2.5rem;
  }
}