/* src/app/lighting/lighting.component.css */
.container {
  padding-top: 100px;
}

.card {
  background-color: #f8f9fa; /* Light background color for contrast */
}

.card-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.card-body {
  padding: 2rem;
}

.spinner-border {
  margin: 1rem auto;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bi {
  font-size: 2rem;
  margin-right: 0.5rem;
}
